<div id="doc2" class="yui-t7">
	<div id="inner">

		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Martin Breyton</h1>
					<h2>Medical Intern in Public Health</h2>
					<!-- <p><%= link_to "Download PDF", "cvmb.pdf", id: "pdf", target: "_blank" %></p> -->
					<p><a href="mailto:m.breyton@gmail.com">m.breyton@gmail.com</a></p>
					<p>(+33)6 08 26 42 00</p>
				</div>

				<div class="photo">
					<%= image_tag("martinb.png") %>
				</div>

				<div class="yui-u">
					<div class="contact-info">

					</div><!--// .contact-info -->
				</div>


			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								Medical student passionate about new technologies and computer programming. Dedicated to tackle the challenges of tomorrow and to be part of the next generation of healthcare.
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2 class="academic">2018-2019 &mdash; Université Aix-Marseille</h2>
								<h3 class='description'>M2 Mathématiques appliquées, parcours Data Science</h3>
								<h3 class='description'>2ère année de DES de Santé Publique</h3>
							<h2 class="academic">2017-2018 &mdash; Université Aix-Marseille, School of Medicine</h2>
								<h3 class='description'>1ère année de DES de Santé Publique</h3>
							
							<h2 class="academic">2014-2017 &mdash; Paris Descartes University, School of Medicine</h2>
								<h3 class="description">Diplome de Formation approfondie en sciences médicales</h3>

							<h2 class="academic">2012-2014 &mdash; Paris Descartes University, School of Medicine</h2>
								<h3 class="description">Diplome de Formation Générale en Sciences Médicales</h3>
							
							<h2 class="academic">2009-2011 &mdash; Paris Descartes University, School of Medicine</h2>
								<h3 class="description">PACES</h3>
							
							<h2 class="academic">2009 &mdash; Lycée Lavoisier, Paris</h2>
								<h3 class="description"> Baccalauréat Scientifique <strong>Mention Bien</strong> </h3>
						</div>
					</div><!--// .yui-gf -->
					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Extracurricular</h2>
						</div>
						<div class="yui-u">
							<h2 class="academic">2016 Oct-Dec &mdash; Machine Learning MOOC by Pr Andrew Ng, Stanford University</h3>
							<h2 class="academic">2015 Sept &mdash; Centre de Recherches Interdisciplinaires</h2>
							<h3 class="description">Intensive Crash Course on scientific programming in Python</h3>	
						</div>
					</div>



					<div class="yui-gf">

						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">
							<div class="job">
								<h2>Hôpital Sainte Marguerite</h2>
								<h3>Public Health Intern</h3>
								<h4>2018 May - Nov</h4>
								<p class="academic">Medical Information department (T2A, PMSI, MCO)</p>
							</div>
							<div class="job">
								<h2>Centre d'Epidémiologie et de Santé Publique des Armées</h2>
								<h3>Public Health Intern</h3>
								<h4>2017 Nov - 2018 April</h4>
								<p class="academic">Performed a descriptive analysis of an epidemiological surveillance database for the french military</p>
							</div>

							<div class="job-last">
								<h2>Hopital Vaugirard</h2>
								<h3>Caregiver</h3>
								<h4>August 2014</h4>
								<p class="academic">Experience as a caregiver in Geriatrics</p>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u">
							<ul class="">
								<p class="last">Python (Pandas, Matplotlib, Sklearn), Javascript (NodeJS, VueJS), HTML5/CSS3</p>
							</ul>
						</div><!--// .yui-u -->
					</div><!--// .yui-gf-->

					<div class="yui-gf languages">
						<div class="yui-u first">
							<h2>Languages</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">
							<div class="job last">
								<li>English TOEFL Score <strong>96</strong> (2014)</li>
								<li>Spanish &mdash; Basic knowledge</li>
							</div>
						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->

					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Interests</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">
							<div class="job last">
								<li>Regular practice of the Harpsichord and Tennis</li>
								<li>Recently discovered microprocessor's project building with the ESP32 chip</li>
							</div>
						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->

					 <div class="yui-gf last">
						<ul class="talent">
							<li class="thumb"><%= link_to image_tag("his_thumb.png"), "his.pdf", target: "_blank" %></li>
							<li class="legend">HackInScience Diploma</li>
						</ul>

						<ul class="talent">
							<li class="thumb"><%= link_to image_tag("martinBGrades_thumb.png"), "martinBGrades.pdf", target: "_blank" %></li>
							<li class="legend">All grades since High School</li>
						</ul>

						<ul class="talent">
							<li class="thumb"><%= link_to image_tag("toefl_thumb.png"), "toefl.pdf", target: "_blank" %></li>
							<li class="legend">Toefl Scores</li>
						</ul>

					</div><!--// .yui-gf-->
				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Martin Breyton &mdash; <a href="mailto:m.breyton@gmail.com">m.breyton@gmail.com</a> &mdash; (+33)6 08 26 42 00</p>
		</div><!--// footer

	</div><!-- // inner -->


</div><!--// doc -->
