<div id="doc2" class="yui-t7">
	<div id="inner">

		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Martin Breyton</h1>
					<h2>Medical Student</h2>
					<p><%= link_to "Download PDF", "cvmb.pdf", id: "pdf", target: "_blank" %></p>
					<p><a href="mailto:m.breyton@gmail.com">m.breyton@gmail.com</a></p>
					<p>(+33)6 08 26 42 00</p>
				</div>

				<div class="photo">
					<%= image_tag("martinb.png") %>
				</div>

				<div class="yui-u">
					<div class="contact-info">

					</div><!--// .contact-info -->
				</div>


			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								Medical student passionate about new technologies and computer programming, looking to combine Medicine and Machine Learning in order to improve healthcare.
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2 class="academic"></t>Paris Descartes University, School of Medicine</h2>
							<h3 >2016 &mdash;Diplome de Formation Approfondie en Sciences Médicales 2</h3>
							<h2 class="academic"></t><%= link_to "Coursera MOOC", "https://www.coursera.org/learn/machine-learning", target: "_blank" %></h2>
							<h3 >2016 Oct-Dec &mdash;Machine Learning MOOC by Pr Andrew Ng, Stanford University</h3>
							<h2 class="academic">Centre de Recherches Interdisciplinaires</h2>
							<h3>September 2015 &mdash; Intensive Crash Course on scientific programming in Python</h3>
							<h2 class="academic">Paris Descartes University, School of Medicine</h2>
							<h3>2015 &mdash; DFASM1</h3>
							<h2 class="academic">Paris Descartes University, School of Medicine</h2>
							<h3>2014 &mdash; Diplome de Formation Générale en Sciences Médicales</h3>
							<h2 class="academic">Paris Descartes University, School of Medicine</h2>
							<h3>2011 &mdash; PACES</h3>
							<h2 class="academic">Lycée Lavoisier, Paris</h2>
							<h3>2009 &mdash; Baccalauréat Scientifique <strong>Mention Bien</strong> </h3>
						</div>
					</div><!--// .yui-gf -->



					<div class="yui-gf">

						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">


							<div class="job">
								<h2>Hopital privé Armand Brillard, Nogent-sur-Marne</h2>
								<h3>Surgical Nurse</h3>
								<h4>2015</h4>
								<p>Punctually provided surgical nursing help to a gastrointestinal surgeon</p>
							</div>
							<div class="job">
								<h2>Hopital Vaugirard</h2>
								<h3>Caregiver</h3>
								<h4>August 2014</h4>
								<p>Experience as a caregiver in Geriatrics</p>
							</div>

							<div class="job last">
								<h2>Hopital Cochin, Paris</h2>
								<h3>Investigator</h3>
								<h4>October 2012</h4>
								<p class="dernier">Field investigator in the context of a study about pain management conducted in the Emergency Room</p>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li>HTML5/CSS3</li>
								<li class="last">Ruby on Rails</li>
							</ul>

							<ul class="talent">
								<li >Javascript</li>
								<li class="last">jQuery</li>
							</ul>

							<ul class="talent">
								<li >Python</li>
								<li class="last">Octave</li>
							</ul>
						</div><!--// .yui-u -->
					</div><!--// .yui-gf-->

					<div class="yui-gf languages">
						<div class="yui-u first">
							<h2>Languages</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">
							<div class="job last">
								<li>English TOEFL Score <strong>96</strong> (2014)</li>
								<li>Spanish &mdash; Basic knowledge</li>
							</div>
						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->

					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Interests</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">
							<div class="job last">
								<li>Piano</li>
								<li>Tennis</li>
							</div>
						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->

					 <div class="yui-gf last">
						<ul class="talent">
							<li class="thumb"><%= link_to image_tag("his_thumb.png"), "his.pdf", target: "_blank" %></li>
							<li class="legend">HackInScience Diploma</li>
						</ul>

						<ul class="talent">
							<li class="thumb"><%= link_to image_tag("martinBGrades_thumb.png"), "martinBGrades.pdf", target: "_blank" %></li>
							<li class="legend">All grades since High School</li>
						</ul>

						<ul class="talent">
							<li class="thumb"><%= link_to image_tag("toefl_thumb.png"), "toefl.pdf", target: "_blank" %></li>
							<li class="legend">Toefl Scores</li>
						</ul>

					</div><!--// .yui-gf-->
				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Martin Breyton &mdash; <a href="mailto:m.breyton@gmail.com">m.breyton@gmail.com</a> &mdash; (+33)6 08 26 42 00</p>
		</div><!--// footer

	</div><!-- // inner -->


</div><!--// doc -->
